DirectoryIndex public_html/index.html

RewriteEngine On

RewriteRule ^([a-zA-Z]+)$ controller.php
RewriteRule ^([a-zA-Z]+)/$ controller.php

RewriteRule ^([a-zA-Z]+)/([0-9]+)$ controller.php
RewriteRule ^([a-zA-Z]+)/([0-9]+)/$ controller.php

